<div id="<%= dom_id file_upload %>">
  <p>
    <strong>Name:</strong>
    <%= file_upload.name %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= file_upload.size %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= file_upload.url %>
  </p>

  <p>
    <strong>Folder:</strong>
    <%= file_upload.folder_id %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= file_upload.deleted_at %>
  </p>

</div>
