<div id="<%= dom_id attendance_confirmation %>">
  <p>
    <strong>Member:</strong>
    <%= attendance_confirmation.member_id %>
  </p>

  <p>
    <strong>Meeting:</strong>
    <%= attendance_confirmation.meeting_id %>
  </p>

  <p>
    <strong>Confirmed:</strong>
    <%= attendance_confirmation.confirmed %>
  </p>

  <p>
    <strong>Attendance type:</strong>
    <%= attendance_confirmation.attendance_type %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= attendance_confirmation.deleted_at %>
  </p>

</div>
