<div id="<%= dom_id task_comment %>">
  <p>
    <strong>Body:</strong>
    <%= task_comment.body %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= task_comment.task_id %>
  </p>

  <p>
    <strong>Member:</strong>
    <%= task_comment.member_id %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= task_comment.deleted_at %>
  </p>

</div>
