<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Event type:</strong>
    <%= event.event_type %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= event.image_url %>
  </p>

  <p>
    <strong>Video url:</strong>
    <%= event.video_url %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= event.start_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= event.due_date %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= event.publication_date %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= event.order %>
  </p>

  <p>
    <strong>Banner:</strong>
    <%= event.banner %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= event.deleted_at %>
  </p>

</div>
