<div id="<%= dom_id minute %>">
  <p>
    <strong>Meeting:</strong>
    <%= minute.meeting_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= minute.title %>
  </p>

  <p>
    <strong>Agenda:</strong>
    <%= minute.agenda %>
  </p>

  <p>
    <strong>Development:</strong>
    <%= minute.development %>
  </p>

  <p>
    <strong>Ending time:</strong>
    <%= minute.ending_time %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= minute.deleted_at %>
  </p>

</div>
