<div id="<%= dom_id manual %>">
  <p>
    <strong>Team:</strong>
    <%= manual.team_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= manual.type %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= manual.url %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= manual.name %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= manual.deleted_at %>
  </p>

</div>
