<div id="<%= dom_id role %>">
  <p>
    <strong>Name:</strong>
    <%= role.name %>
  </p>

  <p>
    <strong>Scope:</strong>
    <%= role.scope %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= role.description %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= role.deleted_at %>
  </p>

</div>
