<div id="<%= dom_id monthly_schedule %>">
  <p>
    <strong>Title:</strong>
    <%= monthly_schedule.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= monthly_schedule.description %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= monthly_schedule.created_by_id %>
  </p>

  <p>
    <strong>Scheduled month:</strong>
    <%= monthly_schedule.scheduled_month %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= monthly_schedule.status %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= monthly_schedule.due_date %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= monthly_schedule.deleted_at %>
  </p>

</div>
