<div id="<%= dom_id attendance %>">
  <p>
    <strong>Member:</strong>
    <%= attendance.member_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= attendance.event_id %>
  </p>

  <p>
    <strong>Attendance type:</strong>
    <%= attendance.attendance_type %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= attendance.deleted_at %>
  </p>

</div>
