<div id="<%= dom_id member %>">
  <p>
    <strong>First name:</strong>
    <%= member.first_name %>
  </p>

  <p>
    <strong>Second name:</strong>
    <%= member.second_name %>
  </p>

  <p>
    <strong>First surname:</strong>
    <%= member.first_surname %>
  </p>

  <p>
    <strong>Second surname:</strong>
    <%= member.second_surname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= member.phone %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= member.status %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= member.birth_date %>
  </p>

  <p>
    <strong>Baptism date:</strong>
    <%= member.baptism_date %>
  </p>

  <p>
    <strong>Marital status:</strong>
    <%= member.marital_status %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= member.gender %>
  </p>

  <p>
    <strong>Wedding date:</strong>
    <%= member.wedding_date %>
  </p>

  <p>
    <strong>Membership date:</strong>
    <%= member.membership_date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= member.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= member.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= member.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= member.country %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= member.deleted_at %>
  </p>

</div>
